#body{
    background: #357089;  
}

#box{
    width: 110px;
    height: 40px;
    background-color: rgb(75, 172, 208);
    margin: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    cursor:pointer;
}

#box2{
    width: 110px;
    height: 40px;
    background-color: rgb(75, 172, 208);
    margin: 5px;
    padding: 8px;
    text-align: center;
    border-radius: 15px;
    cursor:pointer;
}

#I-List{
    background: rgb(75, 172, 208);
    margin: 5px;
    padding: 3px;
    width: 500px;
    height: 300px;
    border-radius: 25px;
    border: 5px black;
}

#credit{
    background-color: rgb(75, 172, 208);
    margin-left: 5px;
    margin-top: 200px;
    padding: 2px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.para-border {
    border-style: solid;
    border-radius: 8px;
    border-width: 2px;
    border-spacing: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 120px;
}

.para{
    margin-top: 3px;
    margin-left: 2px;
    font-size: 17px;
}

#credit-h3{
    padding-left: 10px;
    border: 2px;
    margin-right: 200px;
    margin-left: 10px;
    border-style: solid;
    border-radius: 8px;
}

#GitLink{
    margin-top: 55px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}